.row-header{
    padding:0px auto;
    margin:0px auto;
    
}
.jumbotron{
    background-color: rgb(156, 52, 241);
    color:white;
    margin:0px auto;
    padding:0px auto;
    min-height: 280px;
}
.row-content{
    margin:10px;
    padding-bottom: 40px;
    padding-top:40px;
    border-bottom: 1px ridge;
    
}
.footer{
    background-color: rgb(156, 52, 241);
    color:white;
    padding-left: 10px;
    padding-bottom:10px;
    margin:0px auto;
}
.address{
    padding-top:10px;
    font-size: 80%;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar{
    background-color: rgb(90, 15, 211);
}
.rbutton{
    padding-left:12px;
    padding-right: 12px;
    margin:5px;
    font-size: 21px;
}
